.FAQ {
  width: 320px;
  margin-bottom: 169px;
  margin: 0 auto; }

.FAQ__abbr {
  color: #ED3A4E;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 16px; }

.FAQ__title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-bottom: 15px; }

.FAQ__description {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 46px; }

.accordion {
  background-color: #fff;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative; }

.active, .accordion:hover {
  background-color: #ccc; }

.accordion:after {
  content: '\002B';
  position: absolute;
  font-weight: bold;
  right: 20px;
  margin-left: 5px; }

.active:after {
  content: "\2212"; }

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }

@media (min-width: 768px) {
  .FAQ {
    width: 570px;
    margin-bottom: 185px; }
  .accordion {
    padding-left: 18px; }
  .FAQ__title {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 29px;
    width: 500px; }
  .FAQ__abbr {
    margin-bottom: 18px; }
  .FAQ__description {
    margin-bottom: 49px; } }
