@media (min-width: 1000px) {
  .page-main {
    width: 1170px;
    color: white;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }
  .page-main__sponsors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px; }
  .features__small {
    color: #ED3A4E;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 18px; }
  .features__title {
    color: #333333;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 30px; }
  .features__description {
    color: #333333;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 35px; }
  .features__button-benefits {
    display: block;
    width: 170px;
    height: 48px;
    color: #1D46F6;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid rgba(29, 70, 246, 0.3);
    border-radius: 5px; }
  .features__item__title {
    color: #333333;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    vertical-align: center; }
  .features__item__description {
    display: block;
    width: 338px;
    color: rgba(51, 51, 51, 0.5);
    font-size: 16px;
    line-height: 32px; }
  .features__list {
    display: flex;
    justify-content: space-between; }
  .features__item__container {
    display: flex;
    align-items: center;
    margin-bottom: 12px; }
    .features__item__container img {
      margin-right: 15px; }
  .features__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px; }
  .features__flex__elem {
    width: 476px;
    outline: 1px solid black;
    padding-top: 45px; } }
