.footer-wrapper {
  background-color: #210C38; }

.page-footer {
  padding-top: 74px;
  width: 320px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 54px; }

.page-footer__logo {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 48px; }

.footer__nav__title {
  color: #ED3A4E;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 3px;
  font-weight: 400; }

.footer__nav__list {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 48px; }

.footer__services {
  color: #ED3A4E;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 3px; }

.page-footer__services__list {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 54px; }

.page-footer__services__item a {
  color: white; }
  .page-footer__services__item a:hover, .page-footer__services__item a:active, .page-footer__services__item a:focus {
    color: rgba(255, 255, 255, 0.35); }

.footer__nav__item a {
  color: white; }
  .footer__nav__item a:hover, .footer__nav__item a:active, .footer__nav__item a:focus {
    color: rgba(255, 255, 255, 0.35); }

.footer__contact-icon {
  margin-bottom: 106px;
  text-align: center;
  cursor: pointer; }
  .footer__contact-icon:hover svg {
    fill: black; }

.footer__copyright {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  opacity: 0.5;
  font-size: 16px;
  line-height: 32px; }

.footer__wrapper__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.footer__flex-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%; }
  .footer__flex-copyright p {
    color: white;
    font-size: 16px;
    line-height: 32px; }

#icon:hover circle,
#icon:focus circle,
#icon:active circle {
  fill: white; }

#icon:hover path,
#icon:focus path,
#icon:active path {
  fill: #1D46F6; }

@media (min-width: 768px) {
  .page-footer {
    width: 1170px;
    margin: 0 auto; }
  .page-footer__flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__copyright {
    color: #fff;
    opacity: 0.5;
    font-size: 16px;
    line-height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__wrapper__flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__flex__copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 300px; } }
