.recommendation {
  margin-bottom: 120px; }

.recommendation__small {
  color: #ED3A4E;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 16px; }

.recommendation__picture {
  width: 329px;
  height: 212px;
  margin: 0 auto; }

.recommendation__title {
  color: #333333;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-bottom: 53px; }

.recommendation__quote {
  color: #333;
  margin: 0;
  margin-top: 38px;
  font-size: 20px;
  line-height: 32px; }

.recommendation__author {
  font-size: 16px;
  line-height: 32px;
  color: #333;
  font-style: inherit;
  display: inline-block;
  margin-top: 10px; }

.recommendation__post {
  font-size: 16px;
  line-height: 32px;
  color: #333;
  font-style: inherit;
  opacity: 0.5;
  display: inline-block; }

.recommendation__button-next {
  margin-top: 38px;
  width: 48px;
  height: 48px;
  background-color: #ED3A4E;
  border-radius: 50%;
  font-weight: 900;
  border: none;
  font-size: 20px;
  color: white; }
  .recommendation__button-next:hover, .recommendation__button-next:focus, .recommendation__button-next:active {
    background-color: rgba(237, 58, 78, 0.8);
    color: white;
    cursor: pointer;
    border: none;
    outline: none; }

.recommendation__button-prev {
  margin-top: 38px;
  width: 48px;
  height: 48px;
  background-color: #ED3A4E;
  border-radius: 50%;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
  margin-right: 8px; }
  .recommendation__button-prev:hover, .recommendation__button-prev:focus, .recommendation__button-prev:active {
    background-color: rgba(237, 58, 78, 0.8);
    color: white;
    cursor: pointer;
    outline: none; }

.recommendation__flex__item {
  width: 329px;
  height: 320px; }

.slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.showing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.controls {
  width: 48px;
  height: 48px;
  background-color: #ED3A4E;
  border-radius: 50%;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 20px; }
  .controls:hover, .controls:active, .controls:focus {
    background-color: rgba(237, 58, 78, 0.5);
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer; }

@media (min-width: 1200px) {
  .recommendation {
    width: 1170px;
    margin-bottom: 160px; }
  .recommendation__small {
    margin-bottom: 18px; }
  .recommendation__title {
    color: #333333;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 53px;
    width: 400px; }
  .slide {
    display: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .recommendation__flex-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #previous {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  #next {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .recommendation__flex__item {
    width: 470px;
    margin-left: 30px; }
  .slide {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .showing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .recommendation__quote {
    margin-bottom: 30px; }
  .recommendation__picture {
    width: 570px;
    height: 368px;
    border-radius: 10px; } }
