.stats {
  margin-bottom: 160px; }

.stats__picture {
  width: 329px;
  margin: 0 auto;
  margin-bottom: 27px; }

.stats__small {
  color: #ED3A4E;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 16px; }

.stats__title {
  color: #333333;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 15px; }

.stats__description {
  color: #333333;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px; }

.stats__button {
  display: block;
  text-align: center;
  vertical-align: center;
  font-size: 14px;
  color: #1D46F6;
  width: 170px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid rgba(29, 70, 246, 0.3);
  border-radius: 5px; }
  .stats__button:hover, .stats__button:focus, .stats__button:active {
    background-color: #1D46F6;
    color: white;
    cursor: pointer; }

.stats__list {
  display: flex;
  color: #333;
  flex-wrap: wrap;
  justify-content: space-between; }

.stats__item__digit {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-bottom: 15px; }

.stats__item {
  font-size: 20px;
  width: 160px; }

@media (min-width: 1200px) {
  .stats {
    width: 1170px; }
  .stats__flex {
    display: flex;
    justify-content: space-between; }
  .stats__flex__item {
    padding-top: 42px;
    width: 470px; }
  .stats__item {
    width: auto; }
  .stats__picture {
    width: 570px; } }
