body{
		background: url("bgm.jpg") no-repeat 50% 0;
		font-family: 'Trispace', sans-serif;
		margin: 0;
		padding: 0;
		

	}

@media(min-width: 1200px){
			
	

	body{
		font-family: 'Trispace', sans-serif;
		margin: 0;
		padding: 0;
		

	}

	.wrapper{

		background-color: #210C38;
	
		
	}
	.page-header{
		width: 1170px;
		color: white;
		margin: 0 auto;
		padding-left: 15px; 
		padding-right: 15px;

}
	.main-nav{
		margin-bottom: 110px;
		
		a{
		color: white;
	}	
	}

	.page-header__logo{
		font-size: 40px;
		line-height: 48px;
		margin: 0;
		padding: 0;
	}

	.main-nav__list{
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		

	}

	.header__title{
		font-size: 72px;
		line-height: 80px;
		margin-bottom: 25px;
	}
	.page-header__small{
		color: #ED3A4E;
		font-size: 16px;
		line-height: 32px;
		text-transform: uppercase; 
		letter-spacing: 2px;
		margin-bottom: 20px;
	}

	.page-header__container{
		display:flex;
		justify-content: space-between;

	}

	.container__item{
		width: 400px;
		height: 528px;
		padding-top: 80px;

	}

	.main-nav__item:last-child{
		padding: 15px 35px;
		border: 1px solid white;
		border-radius: 7px;
	}

	

	.header__description{
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 35px;
		
	}

	.header__button{
		padding: 20px 40px;
		background-color: #1D46F6;
		border-radius: 10px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
	}

}