



@import "header.scss";
@import "features.scss";
@import "services.scss";
@import "register.scss";
@import "stats.scss";
@import "map.scss";
@import "recommendation.scss";
@import "FAQ.scss";
@import "news.scss";
@import "download.scss";
@import "price.scss";
@import "contact.scss";
@import "footer.scss";


ul{
	list-style: none;
	padding: 0;
}

a{
	text-decoration: none;
}

h1,h2,h3{
	margin: 0;
}


body{
		font-family: 'Trispace', sans-serif;
		margin: 0;
		padding: 0;
		color: $color;
		
	}

html,body{
overflow-x: hidden
}